AlgorithmsAndDataStructuresNotes/

###############################################################################
# OCaml / Dune
###############################################################################

# Dune build artifacts
**/_build/

# OCaml compiled files
*.cmi
*.cmo
*.cmx
*.cmxa
*.cmxs
*.o
*.a

# Top-level / REPL
.ocamlinit

###############################################################################
# opam
###############################################################################

.opam/

###############################################################################
# Editors
###############################################################################

.vscode/
.idea/

###############################################################################
# OS
###############################################################################

.DS_Store
Thumbs.db

###############################################################################
# Logs
###############################################################################

*.log
